:root {
  --main-bg-black: #071723;
  --main-bg-blue: #2f3676;
  --main-bg-white: #dde3e9;
  --secondary-bg-white: #f2f2f2;
}


html {
  font-family: Inter, sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rebeccapurple;
  color: var(--main-bg-black);
}

.box {
  background-color: var(--secondary-bg-white);
  border-radius: 8px;
  box-shadow: 10px 22px 34px 0 rgb(0 0 0 / 50%);
  margin: 20px auto;
  overflow: hidden;
  width: 550px;
}

.space {
  margin-bottom: 16px;
}

.space-md {
  margin-bottom: 32px;
}

.label {
  font-size: 18px;
  font-weight: 600;
}

.header {
  background: url("images/header.png") center right no-repeat;
  background-size: cover;
  height: 187px;
  padding: 23px 36px;
  width: 100%;
}

.header .title {
  color: #fff;
  font-size: 23px;
  font-weight: 300;
}

.header .title span {
  font-weight: bold;
  font-size: 24px;
  line-height: 1.46;
}

.form textarea {
  background: var(--main-bg-white);
  border: 1px solid var(--main-bg-blue);
  border-radius: 8px;
  color: var(--main-bg-black);
  height: 140px;
  padding: 16px;
  resize: none;
  width: 100%;
  font-size: 14px;
}

.fieldset {
  padding: 0 32px;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input[type="checkbox"] {
  accent-color: var(--main-bg-blue);
  cursor: pointer;
}

.btn-menos , .btn-mais {
  border: none;
  cursor: pointer;
}

.counter {
  display: flex;
  align-items: center;
}

.counter svg {
  fill: var(--main-bg-blue);
}

.input-counter {
  background: var(--main-bg-white);
  border: 1px solid var(--main-bg-blue);
  border-radius: 7px;
  font-size: 20px;
  font-weight: bold;
  margin: 0 8px;
  width: 60px;
  text-align: center;
  padding: 10px;
}

.input-error {
  background-color: rgb(250 139 139);
  border: 1px solid rgb(255 47 47);
  color: var(--main-bg-black);
}

.footer {
  padding: 32px;
  background: var(--main-bg-white);
  display: flex;
  gap: 30px;
  justify-content: flex-end;
}

.success-submit {
  color: rgb(0 195 94);
}

.invisible {
  display: none;
}

#btn-submit {
  appearance: none;
  background: var(--main-bg-blue);
  border: 0;
  border-radius: 8px;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 8px 32px;
}
